<a href="https://colab.research.google.com/github/christianadriano/PCA_AquacultureSystem/blob/master/WithinGroup_EnvironmentalFactors_PCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd #tables for data wrangling
import numpy as np #basic statistical methods 
import io #for uploading data

#Manual option
from google.colab import files
uploaded = files.upload() #choose file dados_originais.csv

Saving dados_originais.csv to dados_originais (2).csv

In [109]:
#Upload data from cvs file
df = pd.read_csv(io.StringIO(uploaded['dados_originais.csv'].decode('utf-8')))
df.head()

          cultura                                 especie  ...  S19_IR  S20_IE
0  Carcinicultura        M. rosenbergii - Espírito Santo-  ...     NaN     NaN
1  Carcinicultura  P. vannamei - Sergipe - Semi intensivo  ...   11.48   52.16
2  Carcinicultura                  L. vannamei - Aquafort  ...   76.94   42.67
3  Carcinicultura                  L. vannamei - Northern  ...   79.96   46.77
4  Carcinicultura                L. vannamei - Aquacrusta  ...   77.15   46.74

[5 rows x 45 columns]

In [112]:
df2 =df[df.cultura.eq("Piscicultura")] #only Psicultura
df2.shape
feature_names = list(df2.columns[14:26])
#print(feature_names)
list_names = ['especie'] + feature_names
df_environment = df2[list_names]
df_environment.head()

                                              especie   A2_DA  ... A14_PAG  A22_REC
13                                   Truta - race-way  246.86  ...   18.64        5
14  Tilápia - gaiolas - SP - Gift sem restrição al...     NaN  ...     NaN        5
15  Tilápia - gaiolas - SP - Supreme sem restrição...     NaN  ...     NaN        5
16  Tilápia - gaiolas - SP - Gift com restrição al...     NaN  ...     NaN        5
17  Tilápia - gaiolas - SP - Supreme com restrição...     NaN  ...     NaN        5

[5 rows x 13 columns]

In [114]:
#Deal with missing data (NaN)
df_environment = df_environment.dropna() #axis='rows') #(axis='columns')
df_environment.head()

#restrict to columns that are complete
#complete = ['A3_UE','A5_UN','A6_UF','A7_EUE','A8_EUN','A9_EUF','A22_REC']
#df_environment= df_environment[complete]
#df_environment.head()

Empty DataFrame
Columns: [especie, A2_DA, A3_UE, A5_UN, A6_UF, A7_EUE, A8_EUN, A9_EUF, A11_PEPN, A12_PPO, A13_PS, A14_PAG, A22_REC]
Index: []

In [95]:
#Normalize the data to have MEAN==0
from sklearn.preprocessing import StandardScaler
x = df_environment.loc[:, feature_names].values
x = StandardScaler().fit_transform(x) # normalizing the features

ValueError: ignored